html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

nav {
    position: relative;
    z-index: 100;
}

#pomodoro-form {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    /*position: fixed;*/
    position: absolute;
    top: -450px;
    z-index: 10;
    width: 100%;
}

#addBtn {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.modal-content {
    min-height: 200px;
}

section#container {
    flex: 1 1 auto;
    width: 100%;
}