html, body {
    height: 100%;
}

nav {
    position: relative;
    z-index: 100;
}

#pomodoro-form {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    position: fixed;
    z-index: 10;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#addBtn {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}